@import "../../scss/variables.scss";

.movie-details {
    color: white;
    .movie-header {
        margin-top: -150px;
        height: 800px;
        width: 100%;
        position: relative;
        overflow: hidden;
        position: relative;
        img {
            width: 100%;
            height: auto;
            filter: brightness(44%);
-webkit-filter: brightness(44%);
        }
      
        &:before {
            position: absolute;
            bottom: 0;
            left:0;
            width: 100%;
            height: 30%;
            content: "";
            z-index: 1;
            background: rgb(19,21,31);
background: linear-gradient(0deg, rgba(19,21,31,1) 0%, rgba(19,21,31,0.891176538974965) 33%, rgba(19,21,31,0.664285782672444) 62%, rgba(19,21,31,0) 100%);
        }
    }

    .movie-details-content {
        min-height: 1000px;
        padding-top: 400px;
    }

    .movie-infos-item {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 20%);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: $bgc;
        box-shadow: 15px 15px 15px 0px rgba(0, 0, 0, 0.52);
        width: 60%;
        z-index: 1;
        .item-poster {
            transform: translate(50px,-50px);
        }
        .item-infos {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            height: 300px;
            min-width: 600px;
            padding:50px 50px 0px 100px;
            
        }
        .title {
            margin-bottom: 30px;
        }
        .backLink {
            justify-self: self-end;
            align-self: flex-end;
            margin-top: 50px;
        }
        
    }
    
}