footer {
    display: flex;
    flex-direction: column;
    margin-top: 150px;

    .footer-panel {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 50px auto;


        @include lg {
            flex-direction: row;
            align-items: flex-start;

        }

        .footer-column {
            display: flex;
            flex-direction: column;
            align-items: center;

            @include lg {
                align-items: flex-start;
            }
                

            &.mobile-noVisible {
                display: none;

                @include lg {
                    display: block;
                }
            }

            .nav-brand {
                margin-bottom: 40px;
            }

            .title-text {
                margin-bottom: 30px;
                cursor: pointer;
            }

            .mid-text {
                margin-bottom: 15px;
                line-height: 20px;
                cursor: pointer;

                &.subscribe {
                    
                    @include lg {
                        max-width: 285px;
                    }
                }


                .strong {
                    color: $red;
                    font-weight: $fw5;
                }
            }


            .input {
                position: relative;
                margin-bottom: 15px;

                .newsletterInput {
                    background-color: transparent;
                    border: 1px solid $border;
                    padding: 10px 30px;
                    outline: none;
                    color: $white2;
                }

                .newsletterInputIcon {
                    position: absolute;
                    top: 50%;
                    right: 20px;
                    transform: translateY(-50%);
                }
            }

        }
    }

    .footer {
        padding: 30px 0;
        border-top: 1px solid $border;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .strong {
            color: $red;
        }
        
        .backToTop {
            display: none;

            @include md {
                display: block;
            }

            .angleUp {
                margin-left: 20px;
                transition: .3s;

                &:hover {
                    transform: translateY(-5px);
                }
            }

            
        }
    }
}