@import "variables";

nav {
   background-color: $t-black;
    .nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 20px 10px;

        .nav-brand {
            width: 201px;
            height: 72px;
            .logo-img {
                width: 100%;
            }
        }
       
        .nav-links {
            display: flex;
            flex-direction: row;

            .nav-item {
                margin: 0 20px;
            }
            .nav-link {
                color: $d-white;
                font-size: $fs16;
                font-weight: $fw5;
            }
            
        }
    }
    
}