nav {
    height: 200px;
    background-color:pink;
    .nav {
        max-width: 1310px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        color: white;
    }
    
}