// Colors 

$red: #eb315a;
$white: #fff;
$d-white: #f7f7f7;
$t-black: rgba(0,0,0,0.6);


// Font-sizes 
$fs16: 16px;


// Font-weights 
$fw4: 400;
$fw5: 500;
$fw6: 600;
$fw7: 700;

// Line-heights 
$lh60: 60px;
