@import "variables";


.movies-list {
    margin-top: -200px;

    .slick-list {
        padding: 50px !important;
    }
    
}

.slider-item {
    width: 60%;
    background-color: $bgc;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    overflow: visible;
    box-shadow: 0 30px 65px rgba(0, 0, 0, 0.35);
    padding-left: 50px;

    .slick-slide  {
        padding: 50px 0;
        border: 2px solid white;
        
        
    }
    
    .item-poster {
        height: 500px;
        transform: translateY(-50px);
        opacity: visible;
        box-shadow: 0 30px 65px rgba(0, 0, 0, 0.35);
        img {
           height: 100%;
        }
    }

    .item-infos {
        padding: 50px;
        

        .item-title {
            font-size: 30px;
            color: $d-white;
            font-weight: 500;
            margin-right: 50px;
        }
        .flex-box {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            // margin: 50px 0;

            
        }
        
    }
}